<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gdapi" version="0.0.8" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GDApi</name>
    <js-module name="gdApi" src="www/gdApi.js">
        <clobbers target="cordova.plugins.gdApi"/>
    </js-module>
    <keywords>ads, gamedistribution</keywords>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="gdApi">
                <param name="android-package" value="gd.plugin.cordova.api.GDApi"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.GET_TASKS"/>
        </config-file>
        <source-file src="src/android/gdandroidapi.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/GDApi.java" target-dir="src/gd/plugin/cordova/api/GDApi"/>
    </platform>
</plugin>
