<?xml version='1.1' encoding='utf-8'?>
<plugin id="cordova-plugin-gdapi" version="0.1.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GDApi</name>
    <js-module name="gdApi" src="www/gdApi.js">
        <clobbers target="cordova.plugins.gdApi"/>
    </js-module>
    <keywords>ads, gamedistribution</keywords>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="gdApi">
                <param name="android-package" value="gd.plugin.cordova.api.GDApi"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
        <framework src="com.android.volley:volley:1.0.0"/>
        <framework src="com.google.code.gson:gson:2.8.2"/>
        
        <source-file src="src/android/gdandroidapi.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/GDApi.java" target-dir="src/gd/plugin/cordova/api/GDApi"/>
    </platform>

    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="gdApi">
          <param name="ios-package" value="GDApi" />
        </feature>
      </config-file>

      <framework src="src/ios/external/GoogleMobileAds.framework" custom="true" />

      <header-file src="src/ios/GDApi.h" />
      <source-file src="src/ios/GDApi.m" />
      <header-file src="src/ios/api/GDAd.h" />
      <source-file src="src/ios/api/GDAd.m" />
      <header-file src="src/ios/api/GDAdDelegate.h" />
      <source-file src="src/ios/api/GDAdDelegate.m" />
      <header-file src="src/ios/api/GDAdPosition.h" />
      <source-file src="src/ios/api/GDAdPosition.m" />
      <header-file src="src/ios/api/GDAdSize.h" />
      <source-file src="src/ios/api/GDAdSize.m" />
      <header-file src="src/ios/api/GDAlignment.h" />
      <source-file src="src/ios/api/GDAlignment.m" />
      <header-file src="src/ios/api/GDbannerData.h" />
      <source-file src="src/ios/api/GDbannerData.m" />
      <header-file src="src/ios/api/GDcustomLog.h" />
      <source-file src="src/ios/api/GDcustomLog.m" />
      <header-file src="src/ios/api/GDlogchannel.h" />
      <source-file src="src/ios/api/GDlogchannel.m" />
      <header-file src="src/ios/api/GDLogger.h" />
      <source-file src="src/ios/api/GDLogger.m" />
      <header-file src="src/ios/api/GDLogRequest.h" />
      <source-file src="src/ios/api/GDLogRequest.m" />
      <header-file src="src/ios/api/GDpostObj.h" />
      <source-file src="src/ios/api/GDpostObj.m" />
      <header-file src="src/ios/api/GDResponseActRes.h" />
      <source-file src="src/ios/api/GDResponseActRes.m" />
      <header-file src="src/ios/api/GDresponseData.h" />
      <source-file src="src/ios/api/GDresponseData.m" />
      <header-file src="src/ios/api/GDSendObject.h" />
      <source-file src="src/ios/api/GDSendObject.m" />
      <header-file src="src/ios/api/GDstatic.h" />
      <source-file src="src/ios/api/GDstatic.m" />
      <header-file src="src/ios/api/GDUtils.h" />
      <source-file src="src/ios/api/GDUtils.m" />


    </platform>
</plugin>
